.labelBg {
      font-size: var(--label-font-size);
      padding: 2px 8px;
      border-radius: 12px;
      background: grey;
      color: var(--label-color);
      font-weight: 500;
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      white-space: nowrap;
    }