@if (selectedEmail) {
  <div class="preview__header">
    <div class="email-header">
      <h3>Objet :{{ selectedEmail.subject || '(Sans objet)' }}</h3>
      <div>id: {{selectedEmail.id}}</div>
      @if(!selectedEmail.isConsistent()) {
        <div>id: {{selectedEmail.id}}</div>
      }
      <div class="email-meta">
        <div class="sender">
          @if (selectedEmail.fromInitial) {
            <span class="avatar">{{ selectedEmail.fromInitial }}</span>
          }
          <span class="sender-name">{{ selectedEmail.from || 'Expéditeur inconnu' }}</span>
        </div>
        <span class="time">{{ selectedEmail.time || selectedEmail.date }}</span>
      </div>
    </div>
  </div>
  <div class="preview__content">
    PouetAAA isHtml {{selectedEmail.isHtmlBody}}
    @if (selectedEmail.isHtmlBody) {
      <div class="email-body" [innerHTML]="getSanitizedBodyHtml()"></div>
    } @else if (selectedEmail.snippet) {
      <div class="email-snippet">A13 {{ selectedEmail.snippet }}</div>
    } @else {
      <p class="no-content">{{selectedEmail.bodyTxt || 'Aucun contenu disponible'   }}</p>
    }
     <h4>Analyse IA</h4>
    @if (selectedEmail.geminiResponse) {
      <div class="gemini-response">        
        <div class="gemini-content">{{ selectedEmail.geminiResponse.extraNotes }}</div>
      </div>
    } @else {
        <div class="gemini-response">           
            <div class="gemini-content">Aucune analyse disponible.</div>
            <button (click)="analyzeEmailWithGemini(selectedEmail)">Analyser avec Gemini</button>
        </div>  
    }
  </div>
} @else {
  <div class="preview__header">
    <h3>No Selected Email</h3>
    
  </div>
  <div class="preview__content">
    <p class="empty-state">Sélectionnez un message pour voir son contenu ici.</p>
  </div>
}