<div class="component-email-detail">
@if (selectedEmail) {
  <div class="preview__header">
    <div class="email-header">
      <div>Objet :{{ selectedEmail.subject || '(Sans objet)' }}</div>      
      @if(!selectedEmail.isConsistent()) {
        <div>id: {{selectedEmail.id}}</div>
      }
      <div class="email-meta">
        <div class="sender">
          From:  <span class="avatar">{{ selectedEmail.fromShort || selectedEmail.from }}</span>         
        </div>
        Date : <span class="time">{{ selectedEmail.date || 'No Time' }}</span>
      </div>
      <div> {{ selectedEmail.snippet || '' }}</div>
    </div>
  </div>
  @if(showReponse){
    <div class="preview__response">
      <h2>Réponse No Implemented Yet :</h2>
      <email-response [selectedEmail]="selectedEmail"></email-response>
    </div>  
  }
  <div class="preview__preview_mail_selected">
    @if (selectedEmail.bodyHtml && selectedEmail.bodyTxt) {
      <button class="toggle-view-btn" (click)="toggleBodyDisplay()">
        {{ showHtml ? 'Afficher en texte brut' : 'Afficher en HTML' }}
      </button>
    }
    <button (click)="repondre(selectedEmail)">Repondre</button>
    @if (showHtml && selectedEmail.bodyHtml) {
      <div class="email-body" [innerHTML]="getSanitizedBodyHtml()"></div>
    } @else {
      <pre class="email-body-text">{{ selectedEmail.bodyTxt || 'Aucun contenu disponible' }}</pre>
    }
     <h4>Analyse IA</h4>
    @if (selectedEmail.geminiResponse) {
      <div class="gemini-response">        
        <div class="gemini-content">{{ selectedEmail.geminiResponse.extraNotes }}</div>
      </div>
    } @else {
        <div class="gemini-response">           
            <div class="gemini-content">Aucune analyse disponible.</div>
            <button (click)="analyzeEmailWithGemini(selectedEmail)">Analyser avec Gemini</button>
        </div>  
    }
  </div>

} @else {
  <div class="preview__header">
    <h3>No Selected Email. Should never happen</h3>
  </div>
  <div class="preview__content">
    <p class="empty-state">Sélectionnez un message pour voir son contenu ici.</p>
  </div>
}
</div>